/* Header   */


.back-btn {
    display: none;
}


.same__color {
    background-color: #f7f8f8;
    top: 0;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 19;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid gainsboro;
}

.small__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    padding-left: 100px;
    padding-right: 100px;
    height: 65px;
    background-color: #ebf1ff;
}

.small__navbar .small__navbar_logo {
    fill: #3a77ff;
    margin-right: 30px;
}

.second__navbar {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    height: 65px;
    gap: 20px;
    padding: 0px 70px 0px 0px;
    margin: 0px auto !important;
}

.second-navbar__logo svg {
    width: 75px !important;
}

.second__navbar .select_option {
    width: 362px;
    height: 48px;
    border: 1px solid #012f34;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 35px;
    display: flex;
    align-items: center;
}

.all-icons{
    display: none;
}

.ser-item-3 {
    height: 50px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-word {
    font-weight: 650;
    cursor: pointer;

}

.second__navbar .select_option input {
    border: none;
    outline: none;
    height: 48px;
    background: none;
    font-size: 17px;
    margin-left: 15px;
    width: 100%;
}

.second__navbar .select_option i {
    font-size: 17px;
}

.search-btn {
    height: 48px;
    width: 110px;
    border: none;
    background-color: #002F34;
    color: white;
    font-weight: 700;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.second__navbar .search__bar {
    width: 492px;
    border: 1px solid #012f34;
    background-color: #fff;
    border-radius: 4px;
    height: 48px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search__bar input {
    border: none !important;
    outline:none;
    background: none;
    font-size: 17px;
    margin-left: 15px;
    width: 90%;
    height: 48px;
}

.search__bar i {
    display: flex;
    gap: 5px;
    background-color: #012f34;
    padding: 18px;
    position: absolute;
    right: 0;
    color: #fff;
    width: 100px;
    cursor: pointer;
}

.login__btn {
    text-decoration: none;
    color: #012f34;
    font-size: 19px;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #012f34;
    font-weight: 400;
    background: none;
}


.login__btn :hover {
    border-bottom: none;
}

.login__sell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    font-weight: 400;
}

.sell__btn {
    background: url("https://olx.com.pk/assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 45px;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #012f34;
}


.sell-svg {
    position: relative;
    cursor: pointer;
}


.sell-span {
    position: absolute;
    top: 11px;
    left: 45px;
    font-weight: 500;
    cursor: pointer;
}

.sell-plus-icon {
    position: absolute;
    top: 9.5px;
    left: 25px;
}


.circle-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle-icon:hover {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #bfd1f8;
}

.actions-links {
    display: flex;
    gap: 20px;
}



.motor-a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;

}

.motor-span {
    font-weight: 700;
    color: black;
}

.motor-span:hover {
    color: #3a77ff;
}



.menu-div {
    margin-top: 12px;
    margin-left: 88px;
}

.menu-list {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;

}

.all-categoris-span {
    font-weight: 500;
    cursor: pointer;
}

.menu-list>li {
    font-size: 14px;
    cursor: pointer;
}

.list-hover:hover {
    color: #00A49F;
}


.login-word:hover+.login-underline {
    opacity: 0;
}

.login-underline {
    border: 1.5px solid black;
    width: 40px;
    margin-top: 0px;
    padding-top: 0px;
}



.profile-dropdown {
    display: none !;
}

.py-5 {
    padding: 0px !important;

}

*/ .col-12 {
    padding: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 50px;
}

.row {
    height: 40px;
}


.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: min-content;
}

.status {
    left: 50% !important;
}

.dropdown {
    &:hover {
        >.dropdown-menu {
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
            opacity: 1;
            visibility: visible;
        }
    }
}

.dropdown-submenu {
    &:hover {
        >.dropdown-menu {
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (min-width: 990px) {

    .dropright-lg {
        position: relative;

        .dropdown-menu {
            top: 0;
            right: auto;
            left: 100%;
            margin-top: 0;
            margin-right: 0.125rem;
        }
    }
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: ">";
    border-top: 0rem;
    border-right: 0rem;
    border-bottom: 0;
    border-left: 0rem;
    float: right;

}

.pb-2{
    position: absolute;
    right: 0px;
}

.avatar-md {
    width: 56px;
    height: 56px;

}

.avatar img {
    width: 70%;
    height: 70%;
    -o-object-fit: cover;
    object-fit: cover;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: 8px;
}


.avatar-online:before {
    background-color: green;
    margin-bottom: 3px;
    margin-right: 4px;
}


.avatar-indicators:before {
    content: "";
    position: absolute;
    bottom: 9px;
    right: 10%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 2px solid #fff;
    display: table;

}







/* Slider  */


.slider {
    border-radius: 5px;
    width: 1240px;
    height: 200px;
    position: relative;
    overflow: hidden;
    background-color: #eee;
    margin-left: 13px;
}

/* Static image pehle se lagi hogi */
.slider .static-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* Animated image */
.slider .animated-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    /* Start from right side */
    object-fit: cover;
    animation: slide 6s infinite;
    animation-delay: 3s;
}

@keyframes slide {
    0% {
        left: 100%;
    }

    10% {
        left: 0%;
    }

    50% {
        left: 0%;
    }

    60% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}



/* All Categories Section  */


.all-cate-container {
    margin-left: 100px;
    margin-top: 20px;
    height: 400px;
}

.all-categories-item {
    height: 100px;
    width: 1050px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.all-cate-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-cate-head p {
    display: none;
}

.all-categories-items {
    height: 160px;
    width: 120px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-categories-items p {
    font-weight: 700;
}

h4 {
    font-weight: 700;
}

/* Mobile Card Section  */




/* sider free Chatgpt translator  */
.poster-div {
    display: flex;
    justify-content: center;
}

.poster {
    height: 230px;
    width: 1000px;
    border-radius: 20px;
    background-color: #2C2E36;
    cursor: pointer;
}

h1 {
    color: #835AEC;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 700;
}

.chat-gpt {
    margin-top: 60px;
    margin-left: 30px;
    color: white;
}

.chat-gpt-aero {
    height: 60px;
    width: 60px;
    background-color: #835AEC;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    right: 30px;
}


/* last-Section */
.last-sec {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 200px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: #F7F8F9;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.stick {
    height: 130px;
    border: 1.5px solid #C6CFD1;
    margin-right: 20px;
    border-radius: 20px;
}

.last-para {
    font-weight: 500;
}

.footer-sec {
    height: 200px;
    width: 1264px;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding-top: 20px;
    background-color: #EBEEEF;
    margin: 0px auto;

}

.footer-sec p {
    font-size: small;
    margin-bottom: 5px;
    padding-bottom: 0px;
    color: gray;
}

.footer-sec p:hover {
    color: black;
    cursor: pointer;
}

.footer-sec>div>p>strong {
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    cursor: auto;
}

.head {
    height: 70px;
    width: 100%;
    background-color: #002F34;

}

.head>p {
    color: white;
    font-weight: 500;
    text-align: end;
    padding-right: 20px;
    padding-top: 10px;
    cursor: pointer;
}

#main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#cards {
    display: none;
}


.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #515151;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 40px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.post-container{
    height: 400px;
}



.card {
    width: 250px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    font-family: "Segoe UI", sans-serif;
    /* margin: 20px auto; */
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: linear-gradient(to right,
            rgba(169, 3, 41, 1) 0%,
            rgba(196, 72, 72, 1) 44%,
            rgba(170, 34, 56, 1) 100%);
    color: #fff;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.tilt {
    overflow: hidden;
}

.img {
    height: 100%;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.card:hover .img img {
    transform: scale(1.05);
}

.info {
    padding: 10px;
}

.cat {
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #71717a;
    margin-bottom: 0px;
}

.title {
    font-size: 15px;
    font-weight: 700;
    color: #18181b;
    margin: 0 0 2px;
    letter-spacing: -0.5px;
}

.desc {
    font-size: 10px;
    color: #52525b;
    line-height: 1.4;
    margin-bottom: 5px;
}

.feats {
    display: flex;
    gap: 6px;
    margin-bottom: 5px;
}

.feat {
    font-size: 10px;
    background: #f4f4f5;
    color: #71717a;
    padding: 3px 8px;
    border-radius: 10px;
    font-weight: 500;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}


.old {
    font-size: 13px;
    text-decoration: line-through;
    color: #a1a1aa;
    margin-bottom: 2px;
}

.new {
    font-size: 20px;
    font-weight: 700;
    color: #18181b;
}

.btn-1 {
    background: linear-gradient(45deg, #18181b, #27272a);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.btn-1:hover {
    background: linear-gradient(45deg, #27272a, #3f3f46);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    color: #22C55E;
}

.btn-1:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.1),
            transparent);
    transition: 0.5s;
}

.btn-1:hover:before {
    left: 100%;
}

.icon {
    transition: transform 0.3s;
}

.btn-1:hover .icon {
    transform: rotate(-10deg) scale(1.1);
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f4f4f5;
    padding-top: 12px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.rcount {
    margin-left: 6px;
    font-size: 11px;
    color: #71717a;
}

.stock {
    font-size: 11px;
    font-weight: 600;
    color: #22c55e;
}




/* .ser-item-3 {
  cursor: pointer;
  display: inline-block;
  padding: 12px 25px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ser-item-3:hover {
  transform: scale(1.05);
} */

/* Modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}

/* Modal content */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: fadeIn 0.4s ease-in-out;
}

/* Close (X) button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #ff4d4d;
}

/* Inputs */
.inp,
.passwerd {
    padding: 12px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: border-color 0.3s;
}

.inp:focus {
    border-color: #4facfe;
}

/* Button */
.btn-2 {
    padding: 12px;
    width: 100%;
    background: linear-gradient(135deg, #000000, #464646);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-2:hover {
    background: linear-gradient(135deg, #706f6f, #666766);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    /* padding-right for eye */
    font-size: 16px;
    box-sizing: border-box;
}

.toggle-eye {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-img {
    width: 22px;
    height: 22px;
}

#para {
    text-align: center;
    color: red;
    text-decoration: underline;
    font-weight: 400;
    display: none;
}


#invailed-para {
    display: none;
}



@media screen and (max-width: 600px) {

    nav {
        width: 100%;
        overflow: visible;

    }

    .top-div {
        width: 200px;
        overflow: visible;

    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        max-width: 100%;
        overflow: visible;

    }

    .container-fluid {
        gap: 0px;
        width: 100%;
    }

    .svg {
        width: 100%;
    }



    body {
        width: 100%;
        position: relative;
    }



    header {
        border-bottom: 1px solid gainsboro;
        background-color: white;
        width: 100%;
        display: flex;

    }

    .header {
        padding-top: 8px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 5px;
        width: 100%;
    }

    .search-bar-container {
        height: fit-content;
        width: 99%;
        margin-left: 2px;
        align-items: center;
        margin-bottom: 5px !important;
        flex-direction: column;
        display: flex;
        gap: 0px;
        padding: 0px;
    }

    .search-inp {
        margin: 0px;
        margin-left: 5px;
    }

    ._11b2c2ae {
        fill: #3A7BFF;
    }

    #location-inp {
        width: 140px;
    }

    .ser-item-1 {
        border: none;
        outline: none;
        margin: 0px;
        width: 100%;
        height: 35px;
    }

    .location-bar {
        display: flex;
        align-items: center;
        gap: px;
        height: 35px;
        /* padding-left: 10px; */
        padding-top: 0px;
        border: none;
        width: 100%px;
        margin: 0px;
    }

    .bell-icon {
        display: block;
    }

    .location-bar:focus-within {
        outline: none;
    }

    .search-svg {
        display: none;
    }

    .ser-item-2 {
        width: 90%;
        border: 1px solid black;
        /* margin-top: 15px !important; */
        height: 35px !important;
        padding: 5px;
        margin: 0px;
        overflow: visible;
        position: sticky;
        top: 0px;
        background-color: white;
    }

    .loc-svg {
        height: 25px;
        width: 25px;
    }

    .search-icon {
        display: block;
        height: 20px;
    }

    .ser-item-2:focus-within {
        border: 1px solid black;
        outline: none;
    }

    .ser-item-1:focus-within {
        outline: none;
    }

    .menu-svg {
        display: block;
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }

    .olx-svg {
        height: 46px;
        width: 46px;
    }


    .container-fluid {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 18px;
        align-items: center;
    }

    select {
        background-color: white;
    }

    .nav-link {
        padding: 0px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dropdown-svg {
        display: none;
    }


    .ser-item-3 {
        display: none;
    }

    .sell-svg {
        display: none;
    }


    .menu-div {
        display: none;
    }

    .static-img {
        display: none;
        width: 100%;
    }

    .animated-img {
        display: none;

    }

    .slider {
        background-image: url('https://images.olx.com.pk/thumbnails/527654933-800x600.webp');
        width: 100%;
        margin-left: 0px;
        background-size: cover;

    }

    .all-cate-container {
        margin: 0px;
        margin-top: 10px;
        height: 100%;
    }


    .media-all-categori {
        display: none;
    }

    .media-img {
        width: 50px;
        height: 50px;
    }

    .all-cate-container {
        width: 100%;
    }

    .all-categories-item {
        width: 100%;
        height: 100px;
        display: flex;
        gap: 5px;
        justify-content: start;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow: scroll;

    }

    h4 {
        margin-left: 10px;
    }

    .all-categories-items {
        width: 73px;
        height: 100px;
        flex-shrink: 0;

    }

    .all-categories-items p {
        font-weight: 400;
        font-size: 13px;
    }

    .all-cate-head p {
        display: block;
        font-weight: 700;
        color: #3A7BFF;
        padding-right: 18px;
        margin: 0px;
    }

    .all-cate-head h4 {
        margin: 0px;
    }

    .card-container {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin-bottom: 30px;
        /* overflow: scroll; */
        gap: 20px;
        justify-content: center;
    }



    .poster {
        width: 80%;
        margin-bottom: 20px;
    }

    .poster>h1 {
        margin-left: 15px;

    }

    .poster>div>p {
        margin-top: 0px;
        margin-left: 15px;
    }

    .last-sec {
        width: 100%;
        display: none;
    }

    .last-sec>div>img {
        display: none;
    }

    .last-sec>div {
        width: 100%;
    }

    .footer-sec {
        width: 100%;
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 10px;
    }



    .footer-last-items {
        justify-content: center;
        margin-bottom: 30px;
    }

    .head {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head>p {
        margin: 0px;
        padding: 0px;
    }

    .card {
        width: 45%;
    }

    .desc {
        height: 50px;
        overflow: scroll;
        margin: 0px;
    }

    .info {
        padding: 10px;

    }

    .cat {
        font-size: 10px;
    }

    .title {
        font-size: 20px;
    }

    .feat {
        display: none;
    }

    .img {
        height: 100%;
    }

    .login-word {
        display: none;
    }

    .ser-item-3 {
        display: none !important;
    }

    .bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        margin: 0px;
    }

    .price {
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .new {
        max-width: fit-content;
        font-size: 16px;
    }

    .btn-1 {
        width: 100%;
        justify-content: center;
    }

    .width {
        width: 75%;
    }

    .profile-svg {
        display: block !important;
    }

    .modal {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        width: 90%;
        margin: 40% auto;
        padding: 20px;

    }

    .profile-dropdown {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .dropdown-menu {
        padding: .7rem 0rem;
        font-size: .875rem;
        line-height: 22px;
        color: #5c5776;
        border: none;
        box-shadow: 0 10px 30px 0 rgba(31, 45, 61, 0.1);
        border-radius: .5rem;
        left: -220px;

    }

    .status {
        left: 75px !important;
    }

    .list-unstyled {
        width: 100%;
    }


    .col-12 {
        padding: 0px;
    }

    .svg {
        gap: 5px;
        justify-content: space-between !important;
    }

    /* .media-profile{
        display: block !important;
    }

    .dropdown-2{
        right: -550px;
        width: 100%;
    }  */
}